version: 2
jobs:
  build:
    machine: true
    steps:
    - checkout

    - run:
        name: Validate YAML
        command: |
            docker run --rm -ti \
            -v $PWD:/workdir \
            giantswarm/yamllint \
            -d '{extends: default, rules: {line-length: {max: 200}, document-start: disable, indentation: {spaces: 2}}}' \
            images.yaml

    - run:
        name: Install architect
        command: |
            wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
            chmod +x ./architect
            ./architect version

    - run:
        name: architect build
        command: ./architect build

    - persist_to_workspace:
        root: .
        paths:
        - ./retagger
        - ./images.yaml

  retagQuay:
    environment:
      REGISTRY: "quay.io"
      REGISTRY_ORGANISATION: "giantswarm"
    machine: true
    steps:
    - attach_workspace:
        at: .

    - run:
        name: Set registry credentials
        command: |
            echo 'export REGISTRY_USERNAME=${QUAY_USERNAME}' >> $BASH_ENV
            echo 'export REGISTRY_PASSWORD=${QUAY_PASSWORD}' >> $BASH_ENV
            source $BASH_ENV

    - run:
        name: Execute retagger
        command: ./retagger

  retagAliyun:
    environment:
      REGISTRY: "registry-intl.cn-shanghai.aliyuncs.com"
      REGISTRY_ORGANISATION: "giantswarm"
    machine: true
    steps:
    - attach_workspace:
        at: .

    - run:
        name: Set registry credentials
        command: |
            echo 'export REGISTRY_USERNAME=${ALIYUN_USERNAME}' >> $BASH_ENV
            echo 'export REGISTRY_PASSWORD=${ALIYUN_PASSWORD}' >> $BASH_ENV
            source $BASH_ENV

    - run:
        name: Execute retagger
        command: ./retagger


workflows:
  version: 2
  build_e2e:
    jobs:
    - build
    - retagQuay:
        filters:
          branches:
            only: master
        requires:
        - build
    - retagAliyun:
        filters:
          branches:
            only: master
        requires:
        - build
