version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - checkout

      - run:
          name: Validate YAML
          command: |
            docker run --rm -ti \
            -v $PWD:/workdir \
            giantswarm/yamllint \
            -d '{extends: default, rules: {line-length: {max: 200}, document-start: disable, indentation: {spaces: 0}}}' \
            images.yaml

      - run:
          name: Install architect
          command: |
            wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/tags/v1.0.0 | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
            chmod +x ./architect
            ./architect version

      - run:
          name: Install AWS CLI
          command: |
            sudo apt-get update
            sudo apt-get install awscli

      - run:
          name: architect build
          command: ./architect build

      - run:
          name: compile e2e test
          command: |
            docker run --rm -it \
            -v $PWD:/go/src/github.com/giantswarm/retagger \
            -w /go/src/github.com/giantswarm/retagger \
            quay.io/giantswarm/golang:1.13.0 \
            go test -c -tags e2e ./integration/test/e2e

      - persist_to_workspace:
          root: .
          paths:
            - ./retagger
            - ./e2e.test
            - ./images-e2e.yaml
            - ./images.yaml

  e2eQuay:
    environment:
      REGISTRY: "quay.io"
      REGISTRY_ORGANISATION: "giantswarm"
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Set registry credentials
          command: |
            echo 'export REGISTRY_USERNAME=${QUAY_USERNAME}' >> $BASH_ENV
            echo 'export REGISTRY_PASSWORD=${QUAY_PASSWORD}' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Run e2e test
          command: |
            ./e2e.test -test.run ".*E2e.*" -test.v

  retagQuay:
    environment:
      REGISTRY: "quay.io"
      REGISTRY_ORGANISATION: "giantswarm"
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Set registry credentials
          command: |
            echo 'export REGISTRY_USERNAME=${QUAY_USERNAME}' >> $BASH_ENV
            echo 'export REGISTRY_PASSWORD=${QUAY_PASSWORD}' >> $BASH_ENV
            source $BASH_ENV

      - run:
          name: Execute retagger
          command: ./retagger -r ${REGISTRY} -o ${REGISTRY_ORGANISATION} -u ${REGISTRY_USERNAME} -p ${REGISTRY_PASSWORD}

  retagAliyun:
    environment:
      REGISTRY: "registry-intl.cn-shanghai.aliyuncs.com"
      REGISTRY_ORGANISATION: "giantswarm"
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Set registry credentials
          command: |
            echo 'export REGISTRY_USERNAME=${ALIYUN_USERNAME}' >> $BASH_ENV
            echo 'export REGISTRY_PASSWORD=${ALIYUN_PASSWORD}' >> $BASH_ENV
            source $BASH_ENV

      - run:
          name: Execute retagger
          command: ./retagger -r ${REGISTRY} -o ${REGISTRY_ORGANISATION} -u ${REGISTRY_USERNAME} -p ${REGISTRY_PASSWORD} --access-key ${ALIYUN_ACCESS_KEY} --access-secret ${ALIYUN_ACCESS_SECRET} --aliyun-region ${ALIYUN_REGION}

build_and_retag:  &build_and_retag
  jobs:
    - build
    - e2eQuay:
        filters:
          branches:
            ignore: master
        requires:
          - build
    - retagQuay:
        filters:
          branches:
            only: master
        requires:
          - build
    - retagAliyun:
        filters:
          branches:
            only: master
        requires:
          - build

workflows:
  version: 2
  build_retag: 
    <<: *build_and_retag

  # Runs nightly at 21:30 UTC (22:30 Berlin)
  build_retag_nightly:
    triggers:
      - schedule:
          cron: "30 21 * * *"
          filters:
            branches:
              only: master
    <<: *build_and_retag
